<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510522742433-1fjtcq8c1akbf6uvbq869486pnfb29ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510522742433-1fjtcq8c1akbf6uvbq869486pnfb29ea</string>
	<key>API_KEY</key>
	<string>AIzaSyAsHClWHIIGMVkPdb32wxBAsSk66wLN3e4</string>
	<key>GCM_SENDER_ID</key>
	<string>510522742433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.variabley.Investock</string>
	<key>PROJECT_ID</key>
	<string>investock-c8ca0</string>
	<key>STORAGE_BUCKET</key>
	<string>investock-c8ca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510522742433:ios:17b125c3aa2d03433b02e0</string>
	<key>DATABASE_URL</key>
	<string>https://investock-c8ca0.firebaseio.com</string>
</dict>
</plist>